# Ignore build and installation directories
build/
install/
log/

# Ignore Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc

# Ignore CMake and Colcon metadata
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.cmake
Makefile

# Ignore temporary files
*.save
*.swp
*.swo
*~

# Ignore all text files, markdown files might be excluded if you use them
*.txt

# Ignore package-lock directories, not used in ROS but common in general
node_modules/

# Ignore IDE specific files
.vscode/
.idea/
*.sublime-workspace

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore other common backup files
*.bak
*.orig
*.backup
